.header__lang-link {
   width: 30px;
   height: 28px;
   color: #ffffff;
   font-size: 24px;
   line-height: 14px;
   transition: opacity 0.5s ease;
   text-decoration: none;
}

.header__lang-link:hover {
   opacity: 55%;
}

@media (max-width: 320px) {
   .header__lang-link {
      width: 22px;
      height: 20px;
   }
}