.header__lang-link {
   color: #ffffff;
   font-size: 24px;
   line-height: 28px;
   transition: opacity 0.5s ease;
   margin-left: 18px;
   text-decoration: none;
}

.header__lang-link:hover {
   opacity: 55%;
}

@media (max-width: 320px) {
   .header__lang-link {
     font-size: 18px;
     line-height: 20px;
   }
}