.footer__link {
   font-size: 16px;
   line-height: 18px;
   color: #ffffff;
   text-decoration: none;
   margin-right: 16px;
}

@media (max-width: 600px) {
   .footer__link, li{
      margin-bottom: 32px;
      font-size: 24px;
      line-height: 24px;
   }
   .footer__link li:last-child {
      margin-bottom: 0;
   }
}