.cover {
   max-width: 1184px;
   min-width: 320px;
   height: 740px;
   margin: 92px auto;
   background-image: url(./../../images/cover__background.jpg);
   color: #ffffff;
   font-family: "Inter";
   background-color: rgba(42, 44, 47, 0.3);
   background-size: cover;
}

@media (max-width: 1024px) {
   .cover {
      margin: 92px 0;
      max-width: 1024px;
      max-height: 840px;
   }
}

@media (max-width: 768px) {
   .cover {
      margin: 90px 0 88px 0;
      max-width: 768px;
      max-height: 480px;
   }
}

@media (max-width: 320px) {
   .cover {
      margin: 66px 0 64px 0;
      max-width: 320px;
      max-height: 200px;
   }
}