.footer {
   max-width: 1184px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   color: #ffffff;
   margin: 0 48px 24px;
   box-sizing: border-box;
   font-family: "Inter", "Arial", sans-serif;
}

@media (max-width: 768px) {
   .footer {
      margin: 0 24px 24px;
   }
}

@media (max-width: 600px) {
   .footer {
      flex-direction: column;
      margin: 0 6px 24px;
   }
}

@media (max-width: 375px) {
   .footer {
      flex-direction: column;
      margin: 0 10px 24px;
   }
}

@media (max-width: 320px) {
   .footer {
      margin: 0 16px 24px;
   }
}