.footer {
   max-width: 1184px;
   min-height: 18px;
   color: #ffffff;
   margin: 0 auto 24px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border: 1px yellow solid;
   font-family: "Inter";
}